body {
	background-color: bisque;
	font-family: "Nunito", sans-serif;
}

.ine {
	border: 1px solid #b8b8b8;
	background-color: #f3f2f2;
	border-radius: 0.5rem;
	padding-block-end: 1.5rem;
}

.titulo {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #b8b8b8;
	padding: 1rem;
	border-radius: 0.5rem;
	clip-path: polygon(0 0, 100% 0, 100% 30px, 55% 90%, 45% 90%, 0 30px);
}

.tituloHead {
	margin: 0;
}

.ineContent {
	display: flex;
	flex-direction: column;
	padding-inline-end: 1rem;
	padding-inline-start: 0.5rem;
}

.contentHeader {
	display: flex;
	justify-content: space-evenly;
}

.foto {
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nombre {
	display: flex;
	align-items: center;
	justify-content: center;
}

.datos {
	display: flex;
	flex-direction: column;
}

.nombrePersona {
	font-weight: bold;
}

.claveElector {
	display: flex;
	gap: 0.5rem;
	justify-content: space-evenly;
}

.sector2 {
	gap: 0.5rem;
}

.inputINE {
	border: none;
	background-color: #f3f2f2;
	border-bottom: 1px solid #cbcbcb;
	color: chocolate;
}

.curp,
.anioRegistro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.anioreg {
	display: flex;
	gap: 0.5rem;
}

.inputINE2 {
	width: 50%;
	padding-block: 0.5rem;
	padding-inline: 0.3rem;
	border-radius: 0.3rem;
}

.sector3 {
	display: flex;
	padding-inline: 0.5rem;
	justify-content: space-evenly;
	align-items: center;
	gap: 1rem;
}

.inputsector3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.inputsector3 input {
	display: block;
	inline-size: 100%;
}

.wrapper {
	border-left: 2px dashed brown;
	margin-inline-start: 1rem;
}

label {
	font-weight: bold;
}
