body {
	background-color: bisque;
}

.ine {
	border: 1px solid #b8b8b8;
	background-color: #f3f2f2;
	border-radius: 0.5rem;
	height: 200px;
}

.titulo {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #b8b8b8;
	padding: 1rem;
	clip-path: polygon(0 0, 100% 0, 100% 30px, 55% 90%, 45% 90%, 0 30px);
}

.tituloHead {
	margin: 0;
}

.ineContent {
	display: grid;
	grid-template-columns: 2;
	grid-template-rows: 1;
	padding-inline-start: 1rem;
}

.foto {
	grid-column: 1/2;
	width: 10px;
}

.datos {
	grid-column: 2/3;
	height: 100px;
}
