body {
	background-color: bisque;
}

.ine {
	border: 1px solid #b8b8b8;
	background-color: #f3f2f2;
	border-radius: 0.5rem;
}

.titulo {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #b8b8b8;
	padding: 1rem;
	border-radius: 0.5rem;
	clip-path: polygon(0 0, 100% 0, 100% 30px, 55% 90%, 45% 90%, 0 30px);
}

.tituloHead {
	margin: 0;
}

.ineContent {
	display: flex;
	flex-direction: column;
	padding-inline: 1rem;
}

.contentHeader {
	display: flex;
	border: 1px solid blue;
	justify-content: space-evenly;
}

.foto {
	height: 50px;
	width: 50px;
	border: 1px solid red;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nombre {
	border: 1px solid #a5c71b;
	display: flex;
	align-items: center;
	justify-content: center;
}

.datos {
	border: 1px solid #a5c71b;
	display: flex;
	flex-direction: column;
	padding-block-start: 0.5rem;
}

.sector1 {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	gap: 0.5rem;
}

.sector2 {
	display: flex;
	padding: 0.5rem;
	gap: 0.5rem;
}

.inputINE {
	padding-block: 0.5rem;
	padding-inline: 0.3rem;
	border-radius: 0.3rem;
}

.curp,
.anioRegistro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.anioreg {
	display: flex;
	gap: 0.5rem;
}

.inputINE2 {
	width: 50%;
	padding-block: 0.5rem;
	padding-inline: 0.3rem;
	border-radius: 0.3rem;
}
